<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lottery</title>
    <link rel="stylesheet" href="static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/lottery/get_code.js"></script>
    <script src="/static/js/lottery/config.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-en_US.min.js"></script>
</head>
<body>
<h1 class="date" id="myDate" ></h1>
<div class="number-box">
    <div class="number" id="n1" ></div>
    <div class="number" id="n2" ></div>
    <div class="number" id="n3" ></div>
    <div class="number" id="n4" ></div>
    <div class="number" id="n5" ></div>
    <div class="number" id="n6" ></div>
</div>
</body>
</html>